@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Onest:wght@100..900&display=swap');

:root {
    --fontSize: 16px;
    --font__Family: "Kumbh Sans", sans-serif;
    --textBlack: hsl(220, 13%, 13%);
    --textWhite: hsl(0, 100%, 100%);
    --textGrey: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --textGreyBold: hsl(216, 12%, 8%);
    --backgroundWhite: hsl(0, 100%, 100%);
    --backgroundOrange: hsl(26, 100%, 55%);
    --backgroundBlack: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--backgroundWhite);
    font-family: var(--font__Family);
}

.container__app {
    width: 1280px;
    min-height: 100dvh;
    border: 1px solid black;
}